.hero {
    background: url("../images/image-hd.png");
    background-position: center;
    background-size: cover;
    
}

main {
    position: absolute;
    height: 80vh;
    width: 100%;
    top: 100px;
    display:flex;
    flex-direction: column;
    border: 3px solid red;

}