.hero {
    background: url("../images/image-hd.png");
    background-position: center;
    background-size: cover;
    
}

main {
    position: absolute;
    height: 80vh;
    width: 100%;
    top: 100px;
    display:flex;
    flex-direction: column;
}

.countrytitle {
    
    text-align: left;
    color: black;
    font-size: 3em;
}

.input {
    align-items: left
    ;
}

.stats {
    background-color: white;
    border: 3px solid rgb(74, 132, 239);
    font-size: 25px;
    border-radius: 5px;
    color: black;
    text-align: center;
}

header {
    color:rgb(74, 132, 239);
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 2px black;
}


.column {
    background-color: rgb(74, 132, 239);
    border-radius: 5px;
}

h2 {
    text-align: center;
    font-size: 20px;
}

#searchbar {
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(74, 132, 239) ;
    padding: 3em;
    border-radius: 5px;
}

#covidstats {
    text-align: center;
    background-color:rgb(74, 132, 239);
    border-radius: 5px;
    color: white;
    text-shadow:2px 2px black;
  
}

#covidcontainer {
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(74, 132, 239);
    border-radius:5px;
}

#where {
    color: white;
}

#searchbtn {
    border: 1px solid white;
    
}

.control {
    text-align: center;
    color: white;
}